html {
  background:#a55a5a;
  background-size:cover;
  text-align: center;
  font-size: 10px;
}
body {
  margin: 0;
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}
.hand {
  width:50%;
  height:6px;
  background:#000;
  position: absolute; /* start with three overlapped hands */
  top:50%;
  transform-origin: 100%; /* this translates origin to center of the clock */
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.05, 1.7, 0.58, 1);
}
.clock {
  width: 30rem;
  height: 30rem;
  border:20px solid #fff;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;

}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
}
